$pc-lg-media:1200px;
$pc-lgs-media:1199px;
$pc-media:992px;
$pcs-media:991px;
$pad-media:768px;
$pads-media:767px;
$phone-media:576px;
$phones-media:575px;

// $main-T-Color: //主要文字顏色
// $submain-T-Color: //次要文字顏色
// $main-Bg-Color:  // 主要背景色
// $submain-Bg-Color: //次要背景色
// $third-Bg-Color: //第三次背景色
// $Menu-Bg-Color: //選單顏色

@mixin size($w,$h:$w){
  width: $w;
  height: $h;
}

@mixin setAuto($w, $top:0, $bottom:0, $h:null){

  width: $w;
  margin-top: $top;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $bottom;
  @if $w and $h {

  @include  size($w, $h)
  }
}

@mixin setImgBg($file, $w:null, $h:null, $size:initial, $post:top center, $repeat:no-repeat, $color:null){

  background-image: url(~@img/#{$file});
  background-repeat: $repeat;
  background-size: $size;
  background-position: $post;
  @if($color){
    @include setBg($color);
  }
  @if($w and $h){
    @include size($w, $h);
  }
    
}
@mixin setBg($color){

  background-color: $color;
}

@mixin setBorder($w, $c){
  border: $w solid $c;
}

@mixin brdRad($tl, $tr:$tl, $br:$tl, $bl:$tl){
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
}

@mixin setPosAbs($top:0, $right:0, $bottom:null, $left:0, $zindex:0){

  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zindex;
}
  
@mixin setFlex($horizontal:space-between, $vertical:center){
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}
  
@mixin setFont($fz, $les:null, $lh:inherit, $fw:normal){

  font-size: $fz;
  letter-spacing: $les;
  line-height: $lh;
  font-weight: $fw;
}
  

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) and (max-width: $pc-lgs-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//平板以下
@mixin pad-and-phone-width {
  @media all and (max-width: $pads-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}