/* 改变主题色变量 */
$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";


.product-popover{
  top:5% !important;
  right: 5% !important;
  bottom: 5% !important;
  left: 5% !important;
  overflow-y: auto;
}

