<template>
  <b-container>
    <b-row>
      <b-col
        md="6"
        sm="12"
        cols="12"
      >
        <div class="form">

          <b-form
            @submit.prevent="signIn"
            @reset="onReset"
            v-if="show"
          >
            <b-form-group
              id="exampleInputGroup1"
              label="請先登入"
              label-for="exampleInput1"
            >
              <b-form-input
                id="exampleInput1"
                type="text"
                v-model="user.username"
                required
                placeholder="請輸入帳號"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group
              id="exampleInputGroup2"
              label-for="exampleInput2"
            >
              <b-form-input
                id="exampleInput2"
                type="password"
                v-model="user.password"
                required
                placeholder="請輸入密碼"
              >
              </b-form-input>
            </b-form-group>

            <!-- <b-form-group id="exampleGroup4">
              <b-form-checkbox-group
                v-model="form.checked"
                id="exampleChecks"
              >
                <b-form-checkbox value="me">Check me out</b-form-checkbox>
                <b-form-checkbox value="that">Check that out</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group> -->
            <b-button
              type="submit"
              variant="primary"
            >登入</b-button>
            <b-button
              type="reset"
              variant="danger"
            >重置</b-button>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </b-container>

</template>

<script>
import userData from '@api/signIn.js'
import { mapState, mapMutations } from "vuex"
export default {
  data() {
    return {
      user: {
        username: "",
        password: ""
        // checked: []
      },
      show: true
    };
  },
  computed: {
    ...mapState(["isLogin"]),
  },
  methods: {
    ...mapMutations(["s_isLogin"]),
    signIn(evt) {
      if (this.user.username.length || this.user.password.length) {
      }
      userData.loginIn(this.user).then(res => {
        if (res.data.success) {
          this.s_isLogin(res.data.success)
          this.$router.push("/dashboard");
        }
      })
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.user.username = "";
      this.user.password = "";
      this.user.checked = [];
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
[class*="col-"] {
  margin: auto;
  .form {
    height: 100vh;
    @include setFlex(center, center);
    form {
      flex: 1;
      height: 20rem;
      padding: 15px;
      @include setBorder(1px, #ced4da);
      @include brdRad(4px);
      .btn {
        margin: 0 8px;
      }
    }
  }
}
</style>

