<template>
  <div class="hello">
    <a
      href="#"
      @click.prevent="signOut()"
    >登出</a>
  </div>
</template>

<script>
export default {
  name: "signout",
  data() {
    return {};
  },
  methods: {
    signOut() {
      const api = `${process.env.VUE_APP_APIPATH}/logout`;
      const vm = this;
      this.$http.post(api).then(function(res) {
        console.log(res.data);
        // evt.preventDefault();
        if (res.data.success) {
          vm.$router.push("/login");
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
