<template>
  <el-container>
    <el-header>
      <TopBar />
    </el-header>
    <el-container>
      <el-aside>
        <SideBar />
      </el-aside>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import SideBar from "./SideBar.vue";
import TopBar from "./TopBar.vue";
export default {
  name: "DashBoard",
  components: {
    TopBar,
    SideBar
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style lang="scss" scoped>
.el-header {
  background: #1a191f;
}
</style>
