<template>
  <div>
    <b-modal
      id="modal"
      hide-footer
      v-model="modalStatus"
    >
      <el-form
        :label-position="labelPosition"
        label-width="80px"
        :model="form"
        class="from_group"
        ref="inputForm"
      >
        <div class="from_img">
          <el-form-item label="圖片網址">
            <el-input v-model="form.imageUrl"></el-input>
          </el-form-item>
          <el-upload
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img
              v-if="img"
              :src="form.imageUrl"
              class="avatar"
            >
            <i
              v-else
              class="el-icon-plus avatar-uploader-icon"
            ></i>
          </el-upload>
        </div>
        <div class="from_input">
          <el-form-item label="商品名稱">
            <el-input v-model="form.title"></el-input>
          </el-form-item>
          <el-form-item
            label="分類"
            label-width="50px"
          >
            <el-input v-model="form.category"></el-input>
          </el-form-item>
          <el-form-item label="數量">
            <el-input
              v-model="form.unit"
              tyle="width: 50%;"
            ></el-input>
          </el-form-item>
          <el-form-item label="原價">
            <el-input v-model="form.origin_price"></el-input>
          </el-form-item>
          <el-form-item label="售價">
            <el-input v-model="form.price"></el-input>
          </el-form-item>
          <el-form-item label="產品描述">
            <el-input v-model="form.description"></el-input>
          </el-form-item>
          <el-form-item label="說明內容">
            <el-input v-model="form.content"></el-input>
          </el-form-item>
          <el-form-item label="是否上架">
            <el-checkbox-group>
              <el-checkbox
                name="type"
                v-model="form.is_enabled"
                :true-value="1"
                :false-value="0"
              ></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-button
            v-if="editMode === 'post'"
            type="primary"
            @click="updateProduct()"
          >新增</el-button>
          <el-button
            v-if="editMode === 'put'"
            type="primary"
            @click="updateProduct()"
          >修改</el-button>
          <el-button @click="colse">取消</el-button>
        </div>
      </el-form>
    </b-modal>
  </div>
</template>
<script>

import product from '@api/product'

export default {
  name: 'Modal',
  props: {
    editItem: Object,
  },
  data() {
    return {
      editMode: 'post',
      labelPosition: "top",
      img: false,
      modalStatus: false,
      form: {
        title: "",
        imageUrl: "",
        category: "",
        origin_price: null,
        price: null,
        unit: '',
        image: '',
        description: '',
        content: '',
        is_enabled: 1,
      }
    }
  },
  methods: {
    updateProduct() {
      let postId
      this.form.id === undefined ? postId = '' : postId = `/${this.form.id}`
      console.log(postId)
      product.listData(this.form, this.editMode, postId).then((res) => {
        console.log(res.data.message)
        if (res.data.success === true) {
          this.colse()
          this.$parent.getList()
        }

      })
    },
    colse() {
      this.restForm()
      this.$root.$emit('bv::hide::modal', 'modal', '#modalBtn')
    },
    restForm() {
      this.form = {
        title: "",
        imageUrl: "",
        category: "",
        origin_price: null,
        price: null,
        unit: '',
        image: '',
        description: '',
        content: '',
        is_enabled: 1,
      }
    },
    handleAvatarSuccess(res, file) {
      this.from.imageUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      console.log(isLt2M);

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    }
  },
  watch: {
    editItem: function (item) {
      console.log('editItem')
      item === null ? this.editMode = 'post' : this.editMode = 'put'
      if (item === null) {
        this.form = {
          title: "",
          imageUrl: "",
          category: "",
          origin_price: null,
          price: null,
          unit: '',
          image: '',
          description: '',
          content: '',
          is_enabled: 1,
        }
      } else {
        this.form = item
      }
    },
  }
}
</script>
<style lang="scss" scoped>
/deep/ #modal {
  &.modal {
    overflow-y: hidden;
  }
  .modal-dialog {
    max-width: 80%;
    margin: auto;
  }
  .modal-content {
    height: 80vh;
    margin: 10vh auto;
    overflow-y: scroll;
  }
}
</style>
