<template>
  <div id="container">
    <el-button
      ref="modalBtn"
      type="primary"
      @click="openModal(null)"
    >新增商品</el-button>
    <el-table
      :data="products"
      border
    >
      <el-table-column
        prop="title"
        label="品名"
      >
      </el-table-column>
      <el-table-column
        prop="category"
        label="分類"
      >
      </el-table-column>
      <el-table-column
        prop="price"
        label="售價"
        min-width="80"
      >
      </el-table-column>
      <el-table-column
        prop="origin_price"
        label="原價"
        min-width="80"
      >
      </el-table-column>
      <el-table-column
        prop="num"
        label="數量"
        min-width="80"
      >
      </el-table-column>
      <el-table-column
        label="商品圖片"
        min-width="100"
      >
        <template slot-scope="products">
          <img
            :src="products.row.image"
            min-width="70"
            height="70"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="狀態"
        width="80"
      >
        <template slot-scope="products">
        </template>
      </el-table-column>
      </el-table-column>
      <el-table-column
        label="編輯"
        width="180"
      >
        <template slot-scope="products">
          <el-button
            type="info"
            plain
            @click="openModal(products)"
          >修改</el-button>
          <el-button
            type="danger"
            plain
            @click="delList(products.row.id)"
          >刪除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Modal
      ref="modal"
      :editItem="editItem"
    />
  </div>
</template>

<script>
import Modal from './Modal'

import { mapState } from 'vuex'

import product from '@api/product'

export default {
  components: {
    Modal
  },
  data() {
    return {
      editItem: null,
      products: [],
    };
  },
  computed: {
    ...mapState(["isLogin", "showModal"]),
  },
  methods: {
    getList() {
      product.getAllLsit().then((res) => {
        this.products = res.data.products;
      })
    },
    delList(id) {
      product.listData(null, 'delete', `/${id}`).then((res) => {
        console.log(res.data.message)
        this.getList();
      })
    },
    openModal(item) {
      item !== null ? this.editItem = item.row : this.editItem = null
      this.$refs.modal.$children[0].show()
    },
  },
  created() {
    this.getList();
  }
};
</script>
<style lang="scss">
// 内容区域样式
#container {
  flex: 1 auto;
}
.content {
  padding: 10px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.from_group {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  .from_img {
    flex: 0 0 30%;
  }
  .from_input {
    flex: 0 0 60%;
  }
  .el-form-item__label {
    text-align: left;
  }
}
</style>