<template>
  <!-- <el-col :span="24">
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span>导航一</span>
        </template>
        <el-menu-item-group>
          <template slot="title">分组一</template>
          <el-menu-item index="1-1">选项1</el-menu-item>
          <el-menu-item index="1-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="1-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">选项4</template>
          <el-menu-item index="1-4-1">选项1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">导航二</span>
      </el-menu-item>
      <el-menu-item
        index="3"
        disabled
      >
        <i class="el-icon-document"></i>
        <span slot="title">导航三</span>
      </el-menu-item>
      <el-menu-item index="4">
        <i class="el-icon-setting"></i>
        <span slot="title">导航四</span>
      </el-menu-item>
    </el-menu>
  </el-col> -->
  <el-menu
    default-active="1"
    id="nav-menu"
    background-color="#20202a"
  >
    <div class="logo">
      <router-link to="/dashboard">
        <!-- <img src="../../assets/images/vector_space_illust.svg" /> -->
        <p>Logo</p>
      </router-link>
    </div>
    <el-submenu index="1">
      <template slot="title"><i class="el-icon-plus"></i>导航一</template>
      <el-menu-item index="1-1">
        <router-link
          to="/question"
          class="nav-link"
        ><i class="el-icon-document"></i>Ajax Demo</router-link>
      </el-menu-item>
      <el-menu-item index="1-2">
        <router-link
          to="/user"
          class="nav-link"
        ><i class="el-icon-document"></i>Vuex(User)</router-link>
      </el-menu-item>
    </el-submenu>
    <el-menu-item index="2">
      <router-link
        to="/table"
        class="nav-link"
      ><i class="el-icon-document"></i>表格</router-link>
    </el-menu-item>
  </el-menu>
</template>
<script>
export default {
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
<style lang="scss" scoped>
#nav-menu {
  height: 100%;
}
</style>
