<template>
  <el-row class="top-bar">
    <div class="top-wrapper">
      <el-col
        :span="8"
        class="search-area"
      >
        <el-form>
          <el-form-item>
            <i class="el-icon-search"></i>
            <el-input placeholder="搜索"></el-input>
          </el-form-item>
        </el-form>
      </el-col>
      <div class="user-area">
        <div class="user-avatar">
          <span
            class="avatar-img"
            :style="{ backgroundImage: 'url(' + avatar_url + ')' }"
          ></span>
          <i class="el-icon-arrow-down"></i>
          <div class="drop-menu">
            <ul>
              <li><i class="iconfont">&#xe603;</i>管理员</li>
              <li @click="signOut"><i class="iconfont">&#xe602;</i>退出</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      avatar_url:
        "http://img0.imgtn.bdimg.com/it/u=1787407765,2524017231&fm=11&gp=0.jpg"
    };
  },
  methods: {
    signOut() {
      console.log("退出登录");
    }
  }
};
</script>
<style lang="scss" scoped>
// 顶栏样式
.top-bar {
  height: 60px;
  .top-wrapper {
    flex: 1;
    margin-right: 64px;
    display: flex;
    justify-content: flex-end;
  }
  .search-area {
    padding: 16px 10px;
    height: 100%;
    max-width: 320px;
    .el-form-item {
      margin: 0;
      border-radius: 16px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
      .el-icon-search {
        top: 0;
        right: 0;
        font-size: 20px;
        position: absolute;
        z-index: 1;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        text-align: center;
        background-color: #20202a;
      }
    }
    .el-form-item__content {
      line-height: 1;
    }
    .el-input {
      position: relative;
      height: 32px;
      input {
        height: 32px;
        border: none;
        float: right;
        color: #f9fafc;
        opacity: 1;
        border-radius: 16px;
        background-color: #20202a;
        &::-webkit-input-placeholder {
          color: #c0ccda;
        }
        &::-moz-placeholder {
          color: #c0ccda;
        }
        &::-ms-input-placeholder {
          color: #c0ccda;
        }
      }
    }
  }
  .user-area {
    padding: 16px 10px;
    display: inline-block;
    position: relative;
    &:hover {
      background-color: #20202a;
      .drop-menu {
        display: block;
      }
    }
    .user-avatar {
      height: 32px;
      .avatar-img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-right: 10px;
        vertical-align: middle;
        background: center no-repeat;
        background-size: cover;
        background-color: #d8d8d8;
      }
      .el-icon-arrow-down {
        vertical-align: middle;
        font-size: 12px;
        color: #c0ccda;
      }
    }
  }
  .drop-menu {
    position: absolute;
    right: 0;
    top: 64px;
    display: none;
    width: 140px;
    z-index: 1;
    background-color: #20202a;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 12px 20px;
      cursor: pointer;
      line-height: 1;
      font-size: 14px;
      &:hover {
        background-color: #2b3035;
      }
    }
    .iconfont {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
</style>
